#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.side-bar {
  position: absolute;
  left: 0;
  width: 350px;
  background-color: white;
  height: 100vh;
  padding: 2rem;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: darkolivegreen;
  color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 100px;
  margin-right: 20px;
}

.navbar h1 {
  color: #fff;
  font-size: 45px;
}

.footer {
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
}
