#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.home-page {
  margin-left: 300px;
}

.side-bar {
  position: absolute;
  left: 0;
  width: 300px;
  background-color: rgb(73, 73, 68);
  height: 100vh;
  padding: 2rem;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: darkolivegreen;
  color: whitesmoke;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 100px;
  margin-right: 20px;
}

.navbar h1 {
  color: #fff;
  font-size: 45px;
}

.footer {
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
}

input#calorieLimit {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

.form-input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}

.search-box{
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 5px;;
}

.search-box input{
  width: 100%;
  height: 25px;
  margin-bottom: 1em;
}
